h2 {
  text-align: center;
}

input {
  padding: 6px;
  width: 200px;
}

button {
  margin-left: 5px;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 6px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.completed {
  text-decoration: line-through;
  color: gray;
}
