<h2>Angular Todo App</h2>

<!-- Two-way Binding -->
<input
  type="text"
  [formControl]="todoControl"
  placeholder="Enter todo"
/>
<!-- Event + Property Binding -->
<button   
  (click)="addTodo()" 
  [disabled]="todoControl.invalid">
  Add Todo
</button>

<hr />

<!-- Structural Directive -->
<p *ngIf="todos.length === 0">No Todos Available</p>

<ul>
  <!-- ngFor + ngClass -->
  <li
    *ngFor="let todo of todos"
    [ngClass]="{ completed: todo.completed }"
  >
    <span (click)="toggleTodo(todo)">
      {{ todo.title }}
    </span>

    <button (click)="deleteTodo(todo.id)">❌</button>
  </li>
</ul>
