<h2>Angular Todo App</h2>

<form [formGroup]="todoForm" (ngSubmit)="addTodo()">
    <input type="text" formControlName="todo" placeholder="Enter todo" />
    <button type="submit" [disabled]="todoForm.invalid">
        Add Todo
    </button>
</form>


<hr />

<p *ngIf="todos.length === 0">No Todos Available</p>

<ul>
    <li *ngFor="let todo of todos" [ngClass]="{ completed: todo.completed }">
        <span (click)="toggleTodo(todo)">
            {{ todo.title }}
        </span>

        <button (click)="deleteTodo(todo.id)">❌</button>
    </li>
</ul>

<div style="margin-top: 20px;">
    <button (click)="throwTestError()" style="background-color: darkred; color: white;">
        ⚠️ Test Global Error
    </button>
</div>

<hr style="margin-top: 30px;">

<!-- Sub-navigation for child routes -->
<nav style="margin-top: 20px;">
    <strong>More Options: </strong>
    <!-- Note: relative paths 'info' and 'archive' will append to current path '/todo' -->
    <a routerLink="info" style="margin-right: 10px; cursor: pointer; color: blue;">Show Info</a> |
    <a routerLink="archive" style="margin-left: 10px; cursor: pointer; color: blue;">Show Archive</a>
</nav>

<!-- This is the nested outlet where Info or Archive components will appear -->
<router-outlet></router-outlet>